body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
} 






section {
  width: 100%;
  background-color: beige;
  border: white;
  margin: auto;
  padding: 20px;
}

img {
  background-image: url("eggsImages.jpeg");
  background-size: 45%;
  max-width: 100%;
  height: 300px;
  background-attachment: fixed;
}
.banner
  /*Banner*/
header {
width:100%
height:
background-color: beige;  
text-align: center;
  display: block;
  margin: auto;
font-family: 'courier new', monospace;
padding-top: 80px;
}

ul {

  text-align: center;

}

li {
  display: inline;
}

a {
  display: inline-block;
  color: white;
  text-decoration: white;
  padding: 20px;
}

a:hover {
  background-color: gray;
  color: white;
}


 nav a:hover { colour: black; }

/* Mobile navigation */
.mobile-iconb {
  width: 100%;
  text-align: right;
  box-sizing: borderbox;
  cursor: pointer;
  colour: 
  display: none;
  font-size: 20px;
  font-family:
  margin:
  position: relative;
  padding-left: 1.25em;  
}
/* style of mobile icron*/
.mobile-icon:before{ 
  content "";
  
} 
 
    
    

nav {
  font-family: 'Fira Sans', 'sans-serif';
  background-color: ;
  border-radius: 20px;

}

body {
  background-color: black;
  border-radius: 20px;

}

section {
  width: 60%;
  margin: auto;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
}

p {
  color: white;

}


h1 {
  color: white;
}

figcaption {
  color: white;
}

header {
  color: white;
  font-size: 25px;

}

footer {
  color: white;
  font-family: ;
  }